@use 'base/variables' as v; 
@use 'base/mixins' as m; 


.beneficios{
    background-color: v.$primario;

    h2{
        @include m.headingBorder(v.$secundario, v.$blanco);
    }

    &-grid{
        @include m.tablet{ 
            display: grid;
            grid-template-columns: 60% 40%;
            gap: v.$separacion;
            align-items: center;
        }
    }

    &-imagen img{
        transition: all 0.3s;
        max-height: 95vh;
        margin: 0 auto;
    }
    &-imagen img:hover{
        transform: rotate(5deg) scale(1.1);
    }
}