@use 'base/variables' as v; 
@use 'base/mixins' as m; 

.planes{
    background-color: v.$secundario;
    h2{
        @include m.headingBorder(v.$blanco, v.$primario);
    }

    .descripcion{
        color: v.$blanco;
    }

    position: relative;
}

.nuestros-planes{

    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 4rem;

    @include m.tablet{ 
        flex-direction: row;
        justify-content: center;
        margin-top:8rem;
    }

    .plan{
            &.inicio{
                background-image: url(/build/img/icono_inicio.svg);
                background-color:v.$blanco;
            }

            &.negocio{
                background-image: url(/build/img/icono_negocio.svg);
                background-color: v.$primario;
                order: -1;
                position: relative;
                z-index: 1;
                @include m.tablet{ 
                    order:0;
                    border-radius: 2rem;
                    transform: scale(1.1);
                }
            }
            &.pro{
                background-image: url(/build/img/icono_pro.svg);
                background-color:v.$blanco;
            }

            background-repeat: no-repeat;
            background-position: center 2rem;
            background-size: 10rem;
            padding: 4rem;
            border-radius: 1rem;
            border-bottom: 0.5px solid v.$secundarioOpacity;

            h3{
                padding-top: 12rem;
            }
            p{
                font-weight: bold;
            }

            .boton-plan{
                background-color: v.$primario;
                color: v.$secundario;
                padding: 1rem;
                font-weight: bold;
                border: 2px solid v.$blanco;
                display: block;
            }

            transition: all 0.3s;
            &:hover{
                transform: scale(1.1);
            }

            &.negocio:hover{
                    transform: scale(1.2);
            }
            @include m.tablet{ 
                padding: 2rem 6rem;
                max-width: 80rem;
            }
        }   
}